.yeninot{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    margin-left: 10px;
}

.notforum{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    background-color: #ECEFF1;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 2px #CFD8DC;

}

.yeninot-hr{
    border: 1px solid #78909C;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 95%;
}